    <div class="highlight">
        <section class="content">
            <h2>Contributors</h2>
            <p>Thanks to the following for contributing to the development of these sequences:</p>
            <ul class="four contributors clearfix">
                <li>
                    <figure>
                        <img src="{{ site.baseurl }}/img/rebecca-heasman.jpg" alt="Rebecca Heasman"><figcaption><span>Ms. Rebecca Heasman</span> MTeach student at Deakin University (Pre-Service Teacher Contributor and Collator)</figcaption>
                    </figure>
                </li>
                <li><img src="{{ site.baseurl }}/img/peta-white.jpg" alt="Dr. Peta White"><span><a class="new-tab-warning" href="http://www.deakin.edu.au/profiles/peta-white" target="_blank">Dr. Peta White</a></span> Lecturer in Science and Environmental Education at Deakin University (Education Academic and Project Coordinator)</li>
                <li>
                    <figure>
                        <img src="{{ site.baseurl }}/img/mary-vamvakas.jpg" alt="Mary Vamvakas">
                        <figcaption><span>Mrs Mary Vamvakas</span> BSc, Grad Dip Ed, Teaching Associate Deakin University</figcaption>
                    </figure>
                </li>
            </ul>
        </section>
    </div>
    <div class="overlay">
        <div class="overlay-child">
            
        </div>
    </div>