        <header class="site-header">
            <nav>
                <ul>
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li {% if page.module == "one" %}class="active"{% endif %} ><a {% if page.module == "one" %}class="active"{% endif %} href="{{ site.baseurl }}/modules/">Module 1</a></li>
                    <li {% if page.module == "two" %}class="active"{% endif %} ><a {% if page.module == "two" %}class="active"{% endif %} href="{{ site.baseurl }}/modules/module2.html">Module 2</a></li>
                    <li {% if page.module == "three" %}class="active"{% endif %} ><a {% if page.module == "three" %}class="active"{% endif %} href="{{ site.baseurl }}/modules/module3.html">Module 3</a></li>
                </ul>
            </nav>
            <div class="heading">
                <div class="siteHeading">Threats to biodiversity and protection and restoration of biodiversity </div>
                <p>for VCE Biology</p>
            </div>
        </header>